<!DOCTYPE html>
<html>
<head>
  <title>Cap'n Jay's</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div class="container-fluid">
		<h1><i>Cap'n Jay's Crazy Corner Grocery</i></h1>
		<i>122 N. Killingsworth * Portland, Oregon</i>
	</div>

</body>
</html>
