<!DOCTYPE html>
<html>
<head>
  <title>StoreWebsite</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
<h1><i>Cap'n Jay's Crazy Corner Grocery</i></h1>
<i>122 N. Killingsworth * Portland, Oregon</i>
<p>==============================
<br>
<br>
</div>



</body>
</html>
