<%= content_for(:title, "Edit Product | Store Website") %>

<h3>Edit Product</h3>

<%= render "form" %>

<br>
<br>
<p><%= link_to "Add a New Product", new_product_path, :class=> "btn btn-default" %></p>

